[user]
	email = buzgalbraith@gmail.com
	name = buz galbraith 
[alias]
	co = checkout
	st = status 
	br = branch 
	cm = commit 
	unstage = reset HEAD --
	last = log -1 HEAD
[init]
	defaultBranch = main
