[user]
	email = buzgalbraith@gmail.com
	name = buz galbraith 
[alias]
	co = checkout
	st = status 
	br = branch 
	cm = commit 
	unstage = reset HEAD --
	last = log -1 HEAD
	logp = log --graph --format='%cn %h %s'
	; Helper for diffing across branches, has a completion helper in methods as well
	bdiff = "!f() { git diff \"$1\":\"$2\" \"$2\";}; f"
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
