[user]
	email = buzgalbraith@gmail.com
	name = buz galbraith 
[alias]
	co = checkout
	st = status 
	br = branch 
	cm = commit 
	unstage = reset HEAD --
	last = log -1 HEAD
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
